<div class="preview">Home - Block One</div>
<div class="frontend">
    <div class="sectionWhite bgWhite sectionHome">
      <div class="container">
        <div class="row">
          <div class="tabletResize col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="txtIntro">
              <h2 class="lato-regular uppercase">{{mainTitle}}</h2>
              <div class="desktopSeeMore uppercase lato-bold">
                <a href="{{link}}">{{btnSeeMore}}</a>
              </div>
            </div>
          </div>
          <div class="tabletResize col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <ul class="stampsList">
              [[#each repZero]]
              <li>
                <a href="[[item_linkImg]]"><img src="[[item_imgMedal]]" alt="[[item_imgDescription]]"></a>
              </li>
              [[/each]]

            </ul>
            <div class="mobileSeeMore uppercase lato-bold">
              <a class="uppercase" href="{{link}}">{{btnSeeMore}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="summary"></div>
<div class="backend">

    <div class="box box-element ui-draggable ng-scope lyrow">
      <div class="row-fluid clearfix ng-scope">

        <div class="col-md-12 column ui-sortable form-horizontal">
            <h3>Home Block One</h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">Page Title</label>
              <div class="col-sm-10">
                <input type="text" class='form-control' name="mainTitle" value="{{mainTitle}}" />
              </div>
            </div>

            <h3>Button</h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">Button Text</label>
              <div class="col-sm-10">
                <input type="text" class='form-control' name="btnSeeMore" value="{{btnSeeMore}}" />
              </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Button URL</label>
                <div class="col-sm-10">
                  <input type="text" class='form-control' name="link" value="{{link}}" />
                </div>
            </div>

            <!--Image Area Repeater-->
              <!-- data-id="{{repeatfront=repZero}}" data-repeat="itemloop in" tem que exitir -->

            <h3>Home Stamps Images Repeater</h3>
            <div data-id="{{repeatfront=repZero}}" data-repeat="itemloop in">

                <!-- add more inputs if needed name is the smae as in front end-->
                <div class="clearfix">
                    <a class="btn btn-danger pull-right" href="#" data-id="{{repeatfront=repZero}}" data-function="delThisEle" data-params="$index">X</a>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Image Upload</label>
                    <div class="col-sm-7">
                      <input data-model="itemloop.item_imgMedal" name="{{item_imgMedal}}" class="input-file filebutton" type="file">
                      <input data-id="{{repeatfront=repZero}}" class="filebuttoncta btn" type="button" data-function="uploadImage" data-params="itemloop, 'item_imgMedal'" value="Upload">
                    </div>
                    <div class="col-sm-3">
                      <input data-model="itemloop.item_imgMedal" type="text" class='uploadPreview-src form-control' name="title" />
                      <div class="uploadPreview"></div>
                    </div>
                  </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Image Description</label>
                    <div class="col-sm-10">
                        <input type="text" class='form-control' data-model="itemloop.item_imgDescription"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image Link</label>
                    <div class="col-sm-10">
                        <input type="text" class='form-control' data-model="itemloop.item_linkImg"/>
                    </div>
                </div>


                <!-- data-id="{{repeatfront=repZero}}" data-function="addanother" data-params="{name:''}" tem que exitir -->
            </div>
            <button class="btn btn-primary navbar-btn" data-id="{{repeatfront=repZero}}" data-function="addanother" data-params="{item_imgMedal:'', item_imgDescription:''}">Add another</button>
            <!-- data-id="{{repeatfront=repIt}}" data-function="addanother" data-params="{name:''}" tem que exitir -->
        </div>



      </div>
    </div>

</div>
