<ul class="nav nav-list accordion-group">
    <li class="nav-header">
        <div class="pull-right popover-info">
            <i class="icon-question-sign "></i>
        </div>
        <i class="icon-plus icon-white"></i> GRID SYSTEM
    </li>
    <li style="display: list-item;" class="rows" id="estRows">
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
            <div class="preview">
                <span>12</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-12 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
            <div class="preview">
              <span>4 4 4</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-4 column"></div>
                    <div class="col-md-4 column"></div>
                    <div class="col-md-4 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>2 10</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-2 column"></div>
                    <div class="col-md-10 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>3 9</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-3 column"></div>
                    <div class="col-md-9 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>4 8</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-4 column"></div>
                    <div class="col-md-8 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>6 6</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-6 column"></div>
                    <div class="col-md-6 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>8 4</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-8 column"></div>
                    <div class="col-md-4 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>9 3</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-9 column"></div>
                    <div class="col-md-3 column"></div>
                </div>
            </div>
        </div>
        <div class="lyrow ui-draggable">
          <div class="controls">
            <a href="#hide" class="hide label label-important"><i class="icon-hide icon-white"></i>hide</a>
            <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
          </div>
          <div class="preview">
              <span>10 2</span>
            </div>
            <div class="view">
                <div class="row-fluid clearfix">
                    <div class="col-md-10 column"></div>
                    <div class="col-md-2 column"></div>
                </div>
            </div>
        </div>
    </li>
</ul>
