views*

admin/*
!admin/contenttypes
!admin/groups
!admin/index
!admin/menus
!admin/users
!admin/404.html
!admin/contenttypes.html
!admin/index.html
!admin/layout.hbs
!admin/menus.html
!admin/permissions.html
!admin/users.html
!admin/categories
!admin/header
!admin/footer
!admin/sidebar
!admin/settings
