<div ng-controller="editCtrl"><div ng-include="'/admin/views/headerCTypes-top.html'"></div><div class="row"> <div class="col-md-9"><div style="display: block;" class="box box-element ui-draggable ng-scope lyrow ele ele_1457539167142 col-md-9">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <div class="row-fluid clearfix ng-scope">
            <div class="col-md-12 column ui-sortable"><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539178253">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <label class="control-label ng-scope" contenteditable="false">Name</label>
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539180133">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
                <input value="{[{name}]}" ng-model="setData.name" class="form-control ng-scope" type="text">
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1458213371912">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <label class="control-label ng-scope" contenteditable="false">Username</label>
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1458213368435">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
                <input value="{[{username}]}" ng-model="setData.username" class="form-control ng-scope" type="text">
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539265773">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <label class="control-label ng-scope" contenteditable="false">Email</label>
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539279445">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
                <input value="{[{email}]}" ng-model="setData.email" class="form-control ng-scope" type="text">
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539286195">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <label class="control-label ng-scope" contenteditable="false">Password</label>
 

                    </div>
                  </div><div style="display: block;" class="box box-element ui-draggable ng-scope ele ele_1457539292542">
                    
                    <div class="view" on-finish-render="ngRepeatFinished">

                        <!-- ngInclude: undefined --> 
        <input value="{[{password}]}" ng-model="setData.password" class="form-control ng-scope" placeholder="insert your password here" type="password">
 

                    </div>
                  </div></div>
        </div>
 

                    </div>
                  </div></div>  <div class="col-md-3" ng-include="'/admin/views/headerCTypes.html'"></div></div></div>