
                
                    
                    
    <div class="sectionWhite bgWhite">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="txtBlock">
              <h2 class="lato-regular uppercase">{{aplicarTitle_1463569185721}}</h2>
              <div class="lato-light">
                <p>
                  {{{aplicarTxt_1463569185721}}}
                </p>
              </div>
              <ul class="bulletList lato-light">
                {{#each repTwo_1463569185721}}
                <li>{{item_bulletList}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="demoBlock">
              <div class="row">
                <ul class="demoList">
                  {{#each repThree_1463569185721}}
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                    <img class="demoImg" src="{{item_demoImg}}">
                    <div class="lato-regular demoTxt">
                      <p>
                        {{{item_demoDetails}}}
                      </p>
                    </div>
                  </div></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

                  
                    
                    
  <div class="sectionGrey">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="introHome">
              <h2 class="uppercase lato-light">{{introTitle_1463569190586}}
              <br>
              {{introSecondLineTitle_1463569190586}}</h2>
            </div>
          </div>
          {{#each repOne_1463569190586}}
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="blockOfThree">
              <div class="imgBlockThree relative">
                <img src="{{item_threeBlockImg}}">
                <div class="imgDescription uppercase lato-regular">{{item_imgTitle}}</div>
              </div>
              <div class="txtBlockThree lato-regular">
                <p>
                  {{{item_txtThreeBlock}}}
                </p>
              </div>
              <div class="btnBlockThree lato-bold">
                <a class="btnMais uppercase" href="{{item_seeMoreLink}}">{{item_seeMoreBtn}}</a>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>



                  