
                    
                    
        <div class="row-fluid clearfix">
            <div class="col-md-12 column ui-sortable">
                    
                    {{textarea_1461866182001}}


                  
                    
                    
  {[{#each repIt_1461867274340}]}
    {[{#if oddeven}]}
      <div>{[{item_name}]}</div>
      <div>{[{item_link}]}</div>
      <img src="{[{item_file}]}">
    {[{else}]}
      <img src="{[{item_file}]}">
      <div>{[{item_link}]}</div>
      <div>{[{item_name}]}</div>
    {[{/if}]}
  {[{/each}]}

                  
                    
                    
        <label class="control-label" contenteditable="false">Label</label>


                  </div>
        </div>


                  