
                    
                    
        <div class="row-fluid clearfix">
            <div class="col-md-12 column ui-sortable">
                    
                    

                        <!-- ngInclude:  --> 
<div class="frontend ng-scope">
        <label class="control-label" contenteditable="false">Label</label>

</div>

                

 

                    
                  
                    
                    

                        <!-- ngInclude:  --> 
<div class="frontend ng-scope">
                 <textarea class="form-control">{[{textarea_1461866182001}]}</textarea>

</div>

 

                    
                  
                    
                    

                        <!-- ngInclude:  --> 
<!-- {'{'gets replaced by handelbars for front-end alwways with item like item_name'}'} do not use it in comments or it will break -->
<div class="frontend ng-scope">
  {[{#each repIt_1461867274340}]}
    {[{#if oddeven}]}
      <div>{[{item_name}]}</div>
      <div>{[{item_link}]}</div>
      <img src="{[{item_file}]}">
    {[{else}]}
      <img src="{[{item_file}]}">
      <div>{[{item_link}]}</div>
      <div>{[{item_name}]}</div>
    {[{/if}]}
  {[{/each}]}
</div>

 

                    
                  
                    
                    

                        <!-- ngInclude:  --> 
<div class="frontend ng-scope">
        <label class="control-label" contenteditable="false">Label</label>

</div>

                

 

                    
                  </div>
        </div>


                  