
                
                    
                    
    <div class="sectionWhite bgWhite">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 introArea">
            <h2 class="lato-light uppercase">
              {{mainTitle_1463571411353}}
            </h2>
            <div class="txtBLock">
                <div class="introText lato-light">
                    {{{introTxt_1463571411353}}}
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 txtBlock studyBlock">
            <div class="lato-light">
              <h4 class="lato-regular">{{blockTitle_1463571411353}}</h4>
              <div class="txtBLock">
                  {{{textFirstColumn_1463571411353}}}
              </div>
              <div class="stampImg">
                <img src="{{unique_file_1_1463571411353}}">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 mobileImg">
            <div class="bigMobile">
              <img src="{{unique_file_2_1463571411353}}">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 txtBlock lato-light studyBlock">
              <div class="txtBlock">
                  {{{textSecondColumn_1463571411353}}}
              </div>
          </div>
        </div>
      </div>
    </div>

                  
                    
                    
    <div class="sectionGrey morePadding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="txtBlockSecond">
              <h3 class="lato-regular">{{sectionTitle_1463571413114}}</h3>
              <div class="txtBlock">
                  <div class="lato-light">
                      {{{leftTxt_1463571413114}}}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="imgBlock">
              <img src="{{unique_file_3_1463571413114}}">
            </div>
          </div>
        </div>
      </div>
    </div>

                  