
                
                    
                    
    <div class="sectionWhite bgWhite sectionHome">
      <div class="container">
        <div class="row">
          <div class="tabletResize blockHome col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="txtIntro">
              <h2 class="lato-regular uppercase">{{mainTitle_1463595036875}}</h2>
              <div class="desktopSeeMore uppercase lato-bold">
                <a href="{{link_1463595036875}}">{{btnSeeMore_1463595036875}}</a>
              </div>
            </div>
          </div>
          <div class="tabletResize blockStamps col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <ul class="stampsList">
              {{#each repZero_1463595036875}}
              <li>
  <a href="{{item_linkImg}}" target="_blank">
    <img src="{{item_imgMedal}}" alt="{{item_imgDescription}}">
  </a>
              </li>
              {{/each}}

            </ul>
            <div class="mobileSeeMore uppercase lato-bold">
              <a class="uppercase" href="{{link_1463595036875}}">{{btnSeeMore_1463595036875}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

                  
                    
                    
  <div class="sectionGrey">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{#if introTitle_1463595038325}}
<div class="introHome">
              <h2 class="uppercase lato-light">{{{introTitle_1463595038325}}}<br>{{{introSecondLineTitle_1463595038325}}}</h2>
            </div>
{{/if}}
          </div>
  <div class="product-slideshow">

          {{#each repOne_1463595038325}}
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="blockOfThree">
              <div class="imgBlockThree relative">
                <img src="{{item_threeBlockImg}}">
                <div class="imgDescription uppercase lato-regular">{{item_imgTitle}}</div>
              </div>
              <div class="txtBlockThree lato-regular">
                                  {{{item_txtThreeBlock}}}
               
              </div>
              <div class="btnBlockThree lato-bold">
                {{#if item_seeMoreLink}}
                <a class="btnMais uppercase" href="{{item_seeMoreLink}}">{{item_seeMoreBtn}}</a>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}
    </div>
<div class="arrowCenter greyArrow">
              <a href="#" class="prev"></a> 
              <a href="#" class="next"></a>
          </div>

          <div class="pagerProduct">
            <div class="product-pager"></div>
          </div>
        </div>
<div class="row btnVerGeral">
  {{#if genBtnUrl_1463595038325}}
  <a class="btnMais uppercase" href="{{genBtnUrl_1463595038325}}">{{genBtnTxt_1463595038325}}</a>
  {{/if}}
</div>
      </div>
    </div>



                  
                    
                    
    <div class="sectionAplicar" style="background-image: url({{unique_file_1463595040049}});">
        <div class="container">

            <h2 class="uppercase lato-regular">{{mainTitle_1463595040049}}</h2>

            <div class="aplicDescription lato-regular">{{{descriptionArea_1463595040049}}}</div>
        </div>
    </div>


                  