
                    
                    
    <div class="sectionWhite bgWhite">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="txtBlock">
              <h2 class="lato-regular uppercase">{{aplicarTitle_1466005988744}}</h2>
              <div class="lato-light">
                  {{{aplicarTxt_1466005988744}}}
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="demoBlock">
              <div class="row">
                <ul class="demoList">
                  {{#each repThree_1466005988744}}
                  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                    <img class="demoImg" src="{{item_demoImg}}">
                    <div class="lato-regular demoTxt">
                      
                        {{{item_demoDetails}}}
                      
                    </div>
                  </div></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

                  
                    
                    
  <div class="sectionGrey">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="introHome">
              <h2 class="uppercase lato-light">{{{introTitle_1466005990931}}}<br>{{{introSecondLineTitle_1466005990931}}}</h2>
            </div>
          </div>
            <div class="product-slideshow">
              {{#each repOne_1466005990931}}
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="blockOfThree">
                  <div class="imgBlockThree relative">
                    <img src="{{item_threeBlockImg}}">
                    <div class="imgDescription uppercase lato-regular">{{item_imgTitle}}</div>
                  </div>
                  <div class="txtBlockThree lato-regular">
                    <p>
                      {{{item_txtThreeBlock}}}
                    </p>
                  </div>
                  {{#if item_seeMoreLink}}
<div class="btnBlockThree lato-bold">
                    <a class="btnMais uppercase" href="{{item_seeMoreLink}}">{{item_seeMoreBtn}}</a>
                  </div>
{{/if}}
                </div>
              </div>
              {{/each}}
            </div>
            <div class="arrowCenter greyArrow">
              <a href="#" class="prev"></a> 
              <a href="#" class="next"></a>
          </div>
          <div class="pagerProduct">
            <div class="product-pager"></div>
          </div>

        </div>
        <div class="row btnVerGeral">
            <a class="btnMais uppercase btnVerGeral" href="{{genBtnUrl_1466005990931}}">{{genBtnTxt_1466005990931}}</a>
        </div>
      </div>
    </div>



                  
                    
                    
    <div class="sectionAplicar" style="background-image: url({{unique_file_1466005997498}});">
        <div class="container">

            <h2 class="uppercase lato-regular">{{mainTitle_1466005997498}}</h2>

            <div class="aplicDescription lato-regular">{{{descriptionArea_1466005997498}}}</div>
        </div>
    </div>


                  