
                
                    
                    

    <div class="sectionWhite bgWhite">
      <div class="container">
        <div class="row">
          <div class="formContent col-lg-5 col-md-5 col-lg-push-7 col-md-push-7 col-sm-6 col-sm-push-6">
            <div class="formBlock">
                <div class="form_box">
                  <div class="close"></div>
                  <div class="form-header uppercase lato-light">
                    <img src="/assets/img/buyLogo.png">
                    <span class="lato-bold">formulário</span> contacto
                  </div>
                  <div id="formulario">
                    <div class="frmBody">
                      <div class="loading"></div>

                      <div class="obrigado">
                      <br><br>
                      <h4 style="font-size:31px;">Obrigado pelo seu contacto</h4>
                      <br><br>
                      </div>

                      <div class="form">
                          <div class="content_input">
                          <input class="caixas check nome" name="nome" autocomplete="on" id="nome" placeholder="Nome Completo" type="text">
                            <div class="error">Por favor preencha o seu nome</div>
                          </div>
                          <div class="content_input">
                          <input id="email" name="name" autocomplete="on" class="caixas check email" placeholder="Email" type="text">
                            <div class="error">Por favor preencha o seu email</div>
                          </div>
                          <div class="content_input contentTextarea">
                            <textarea id="aditional" name="aditional" class="caixas check aditional" placeholder="Mensagem" rows="4" cols="50"></textarea>
                            <div class="error">Por favor escreva a mensagem</div>
                          </div>
                            <a class="btnEnviar enviar lato-bold uppercase" href="#">Enviar</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="contactsContent col-lg-7 col-md-7 col-lg-pull-5 col-md-pull-5 col-sm-6 col-sm-pull-6">
            <div class="contactsBlock">
              <div class="row">

                <div class="emailContact col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="emailDetail lato-regular">
                    {{emailContact_1466695727526}}
                  </div>
                </div>
                <div class="telContact col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="telDetail lato-regular">
                    {{mobileContact_1466695727526}}
                  </div>
                </div>
              </div>

              <input id="mapCoordsLat" value="{{mapLat_1466695727526}}" type="hidden">
              <input id="mapCoordsLng" value="{{mapLng_1466695727526}}" type="hidden">

              <div id="mapa" class="map">
                  <!--{{{gmaps_1466695727526}}}-->
              </div>
              <div class="socialIcons">
                <ul class="socialList">
  {{#if fbLink_1466695727526}}
                  <li>
                    <a target="_blank" href="{{fbLink_1466695727526}}">
                      <img src="/assets/img/fbMap.png" alt="Facebook">
                    </a>
                  </li>
  {{/if}}
  {{#if twitterLink_1466695727526}}
                  <li>
                    <a target="_blank" href="{{twitterLink_1466695727526}}">
                      <img src="/assets/img/twitterMap.png" alt="Twitter">
                    </a>
                  </li>
  {{/if}}
  {{#if youtubeLink_1466695727526}}
                  <li>
                    <a target="_blank" href="{{youtubeLink_1466695727526}}">
                      <img src="/assets/img/youtubeMap.png" alt="Youtube">
                    </a>
                  </li>
  {{/if}}
                </ul>
              </div>
              <div class="contactDetails lato-light">
                  {{{contactDetails_1466695727526}}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


                  